body {
	overflow: hidden;
	user-select: none;
}

.universe {
	position: relative;
	transition: .2s linear;
	height: 100%;
}
.entity {
	position: absolute;
	transition: .25s linear;
	display: inline;
}
.nameplate {
	white-space: nowrap;
	position: absolute;
	padding: 0px 4px;
	top: -24px;
	text-align: right;
	font-weight: bold;
	font-size: 20px;
	color: #000000;
	opacity: 0.6;
}

.panel {
	position: absolute !important;
	display: none;
	margin-bottom: 0px;
	top: 48px;
	left: 48px;
}
.panel-heading {
	height: 48px;
	padding: 0px;
}
.panel-title {
	font-size: 32px;
	font-weight: bold;
	vertical-align: middle;
	display: inline;
	line-height: 48px;
}
.panel-title .glyphicon {
	padding-top: 8px;
	padding-right: 24px;
}
.panel-body {
	padding: 8px;
}

.menu-button {
	width: 48px;
	height: 48px;
	border: 1px solid;
	border-color: #dddddd;
	position: relative;
	display: inline-block;
	vertical-align: top;
}
.menu-button span {
	font-weight: bold;
	position: absolute;
	right: 0px;
}
.menu-button span.key {
	top: 0px;
}
.menu-button span.amount {
	bottom: 0px;
}

/* dialogs menu*/
#menu-dialog .panel-body > div {
	padding: 12px;
}
.menu-dialog-choice {
	margin-right: 8px;
}

/* menu bar */
.menu-menubar {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

/* Bindings bar */
.menu-bindings {
	position: absolute;
	bottom: 0px;
	left: 0px;
}
.menu-bindings-button {
	position: relative;
	display: inline-block;
	width: 48px;
	height: 48px;
	vertical-align: top;
}
.menu-bindings-button span {
	position: absolute;
	font-weight:bold;
	right: 0px;
}
.menu-bindings-button .key {
	top: 0px;
}
.menu-bindings-button .amount {
	bottom: 0px;
}

/* Settings menu */
#menus-settings .input-group {
	height: 48px;
	padding: 12px 48px;
}
#menus-settings .input-group-addon {
	width: 48px;
	padding: 0px;
}
#menus-settings .input-group-addon img {
	height: 46px;
	width: 46px;
}
#menus-settings input {
	height: 48px;
}

/*chat menu*/
#chat {
	position: absolute;
	left: 100px;
	right: 100px;
	bottom: 100px;
	height: 160px;
	opacity: 0.5;
}
#chat.active {
	opacity: 1.0;
}
.chat-history {
	height: 100%;
	overflow: auto;
	border: 2px solid rgba(0, 0, 0, 0);
}
.chat-history:hover, #chat.active .chat-history {
	background-color: rgba(255, 255, 255, 0.8);
	border-color: rgba(0, 0, 0, 0.8);
}
#chat .username {
	font-weight: bold
}
#chat input {
	width: 100%;
}

/* Resizable arrows */
.ui-resizable { position: absolute;}
.ui-resizable-handle { position: absolute;font-size: 0.1px; display: block; }
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}